@model QLTTDT.Models.CapDo

<div class="mb-3">
    <h4 class="fw-bold">Chi tiết cấp độ</h4>
    <hr />
</div>

<div class="card bg-white shadow p-4 rounded">
    <dl class="row mb-0">

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.TenCapDo)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TenCapDo)</dd>
        </div>

    </dl>

    <div class="d-flex justify-content-end column-gap-2 mt-4">
        <a asp-action="Edit" asp-route-id="@Model.MaCapDo" class="admin-create-submit">
            <i class="fas fa-edit"></i> Chỉnh sửa
        </a>
        <a asp-action="Index" class="admin-back-btn">
            <i class="fas fa-list"></i> Quay lại danh sách
        </a>
    </div>
</div>