@model QLTTDT.Models.ChuDe
@{
    ViewData["Title"] = "Xoá chủ đề";
}
<div class="mb-3">
    <h4 class="fw-bold">Xoá chủ đề</h4>
    <hr />
</div>

<div class="card bg-white shadow p-4 rounded">
    <p class="text-danger fw-semibold">Bạn có chắc chắn muốn xoá chủ đề này không?</p>

    <dl class="row mb-0">

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Ảnh chủ đề</dt>
            <dd class="col-sm-9">
                <img src="@Url.Content("~/images/" + Model.UrlAnhChuDe)" alt="Ảnh chủ đề" class="img-thumbnail mb-2" style="max-width: 300px;" />
                @Html.DisplayFor(model => model.UrlAnhChuDe)
            </dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Chủ đề</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.TenChuDe)</dd>
        </div>

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Mô tả</dt>
            <dd class="col-sm-9 white-space-pre-line">@Html.DisplayFor(m => m.MoTa)</dd>
        </div>

    </dl>

    <form asp-action="Delete" class="d-flex justify-content-end column-gap-2 mt-4">
        <input type="hidden" asp-for="MaChuDe" />

        <button type="submit" class="admin-delete-submit">
             Xoá chủ đề
        </button>

        <a asp-action="Index" class="admin-back-btn">
            Quay lại danh sách
        </a>
    </form>
</div>