@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="~/Icons/couratest32.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quyền truy cập bị từ chối - Couratest | Khoá học trực tuyến miễn phí</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/access-denied-site.css" asp-append-version="true" />
</head>
<body class="access-denied-body text-base">
    <div class="box">
        <div class="box-half d-flex flex-column justify-content-center align-items-end">
            <div>
                <h1>Quyền truy cập bị từ chối</h1>
                <p>
                    Chúng tôi xin lỗi, nhưng mà bạn không có quyền truy cập vào trang này.
                </p>
                <p>
                    Vui lòng liên hệ quản trị viên nếu bạn nghĩ đây là một nhầm lẫn.
                </p>
                <a href="/" class="button-24">Quay về trang chủ</a>
            </div>
        </div>
        <div class="box-half">
            <img src="~/Resource/access_denied.jpg" />
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>