@{
	ViewData["Title"] = "Liên hệ và hỗ trợ";
}
<div class="template__content">
	<div class="container">
		<h1 class="text-headline-xl text-bold-lg">Liên hệ và hỗ trợ</h1>
		<p class="text-body-lg text-subtitle">
			Nếu bạn cần hỗ trợ hoặc có bất kỳ câu hỏi nào, hãy liên hệ với chúng tôi qua:
		</p>
		<ul class="text-body-lg text-subtitle list-none box-padding-10">
			<li>• Email: <a href="#" class="link--highlight">nguyennhatking@couratest.com</a></li>
			<li>• Số điện thoại: +84 123 456 789</li>
		</ul>
	</div>
</div>
