@{
    ViewData["Title"] = "Trang chủ";
}
<div class="template__homepage">
    <div class="d-flex flex-column gap-5">
        <div class="container">
            <div class="d-flex flex-column align-items-center gap-4">
                <div>
                    <h1 class="text-headline-xxl"><strong>Couratest</strong></h1>
                </div>
                <div class="text-body-lg text-center text-subtitle">
                    Couratest là nền tảng học tập trực tuyến toàn cầu cho phép người dùng tham gia vào các khóa học, làm bài kiểm tra và nhận chứng chỉ sau khi hoàn thành.
                </div>
                <div>
                    <div class="button-group">
                        <a class="btn--black" asp-controller="AllTopic" asp-action="Index">Bắt đầu ngay</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="~/Resource/homepage.jpg" style="width: 100%;" />
        </div>
    </div>
</div>

<div class="template__homepage-content">
    <div class="d-flex flex-column gap-5">
        <div class="container">
            <div class="box">
                <div class="box-half d-flex flex-column justify-content-center">
                    <div class="text-body-lg text-subtitle">
                        Couratest hợp tác với hơn <strong>350 trường đại học</strong> và các công ty hàng đầu để mang đến chương trình học trực tuyến linh hoạt, giá cả phải chăng và phù hợp với công việc cho các cá nhân và tổ chức trên toàn thế giới. Chúng tôi cung cấp nhiều cơ hội học tập từ các dự án và khóa học thực hành đến các chứng chỉ và chương trình cấp bằng sẵn sàng cho công việc của bạn.
                    </div>
                </div>
                <div class="box-half">
                    <img src="~/Resource/homepage-2.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="template__homepage-content">
    <div class="d-flex flex-column gap-5">
        <div class="container">
            <div class="box">
                <div class="box-half">
                    <img src="~/Resource/homepage3.png" />
                </div>
                <div class="box-half d-flex flex-column justify-content-center">
                    <div class="text-body-lg text-subtitle">
                        Chúng tôi hình dung một thế giới nơi bất kỳ ai, ở bất kỳ đâu, đều có cơ hội thay đổi cuộc sống của mình thông qua việc học — không phân biệt xuất thân, điều kiện kinh tế hay vị trí địa lý. Việc học sẽ trở thành công cụ trao quyền, giúp con người vươn lên, làm chủ tương lai và đóng góp tích cực cho xã hội.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
