@{
	ViewData["Title"] = "Chính sách bảo mật";
}
<div class="template__content">
	<div class="container">
		<h1 class="text-headline-xl text-bold-lg">Chính sách bảo mật</h1>
		<p class="text-body-lg text-subtitle">
			Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn và sử dụng chúng một cách minh bạch, hợp pháp và chính đáng.
		</p>
		<ul class="text-body-lg text-subtitle list-none box-padding-10">
			<li>• Dữ liệu thu thập: tên, email, hoạt động học tập.</li>
			<li>• Mục đích: cải thiện trải nghiệm, hỗ trợ người dùng, gửi thông báo khóa học.</li>
			<li>• Không chia sẻ thông tin cá nhân với bên thứ ba nếu không có sự đồng ý.</li>
			<li>• Người dùng có quyền yêu cầu truy cập, chỉnh sửa hoặc xóa dữ liệu của mình.</li>
		</ul>
	</div>
</div>
