@model QLTTDT.Models.VaiTro
@{
    ViewData["Title"] = "Chi tiết vai trò";
}
<div class="mb-3">
    <h4 class="fw-bold">Chi tiết vai trò</h4>
    <hr />
</div>

<div class="card bg-white shadow p-4 rounded">
    <dl class="row mb-0">

        <div class="row mb-3 border-bottom pb-2">
            <dt class="col-sm-3 fw-bold">Vai trò</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TenVaiTro)</dd>
        </div>

    </dl>

    <div class="d-flex justify-content-end column-gap-2 mt-4">
        <a asp-action="Edit" asp-route-id="@Model.MaVaiTro" class="admin-create-submit">
            Chỉnh sửa
        </a>
        <a asp-action="Index" class="admin-back-btn">
            Quay lại danh sách
        </a>
    </div>
</div>
