@model IEnumerable<Statistics>
@{
    ViewData["Title"] = "Dashboard";
}
<h1 class="dashboard-title">Dashboard</h1>

<div class="dashboard-table-container">
    <table class="dashboard-table">
        <thead>
            <tr>
                <th class="dashboard-table-header">Mã Khóa Học</th>
                <th class="dashboard-table-header">Tên Khóa Học</th>
                <th class="dashboard-table-header text-center">Số học viên</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="dashboard-table-row">
                    <td class="dashboard-table-cell">@Html.DisplayFor(model => item.MaKhoaHoc)</td>
                    <td class="dashboard-table-cell">@Html.DisplayFor(model => item.TenKhoaHoc)</td>
                    <td class="dashboard-table-cell text-center">@Html.DisplayFor(model => item.SoHocVienDangKi)</td>
                </tr>
            }
        </tbody>
    </table>
</div>