:root {
    --uploaded-image-height: 10rem;
    --uploaded-image-max-width: var(--uploaded-image-height) * 2;
}

.graphic-cover {
    border: solid 2px;
    height: var(--uploaded-image-height);
    max-width: var(--uploaded-image-max-width);
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.graphic-cover img {
    display: block;
    height: 100%;
    object-fit: cover;
}
